/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #hero-856 {
      /* centers button */
      text-align: center;
      /* 116px - 164px top */
      /* 60px - 100px  bottom */
      padding: clamp(7.25rem, 16.82vw, 10.25rem) 1rem
          clamp(3.75rem, 7.82vw, 6.25rem);
      background-color: #ffffff;
      /* clips the svg wave from overflowing */
      overflow: hidden;
      position: relative;
      z-index: 1;
  }
  #hero-856 .cs-container {
      width: 100%;
      max-width: 80rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 3rem;=
  }
  #hero-856 .cs-content {
      max-width: 39.375rem;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
  }
  #hero-856 .cs-topper {
      font-size: 1rem;
      line-height: 1.2em;
      text-transform: uppercase;
      text-align: inherit;
      letter-spacing: 0.1em;
      font-weight: 700;
      color: var(--primary);
      margin-bottom: 0.25rem;
      display: block;
  }
  #hero-856 .cs-title {
      /* 39px - 61px */
      font-size: clamp(2.4375rem, 5vw, 3.8125rem);
      font-weight: 900;
      line-height: 1.2em;
      text-align: center;
      /* 23 characters including spaces wide */
      max-width: 23ch;
      margin: 0 0 1rem 0;
      color: var(--headerColor);
      position: relative;
  }
  #hero-856 .cs-text {
      /* 16px - 20px */
      font-size: clamp(1rem, 1.5vw, 1.25rem);
      line-height: 1.5em;
      text-align: center;
      width: 100%;
      max-width: 33.1875rem;
      /* 28px - 40px */
      margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
      color: var(--bodyTextColor);
  }
  #hero-856 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 500;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
  }
  #hero-856 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #EFA593;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #hero-856 .cs-button-solid:hover:before {
      width: 100%;
  }
  #hero-856 .cs-picture {
      width: 100%;
      max-width: 35.625rem;
      /* 400px - 712px */
      height: clamp(25rem, 95vw, 44.5rem);
      /* 100px - 200px */
      border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0
          clamp(6.25rem, 17vw, 12.5rem);
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
      /* clips the img tag corners */
      overflow: hidden;
      display: block;
      position: relative;
  }
  #hero-856 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes image act as a background image */
      object-fit: cover;
      /* ensures the top of the images is at the top of the container, no heads getting cut off */
      object-position: top;
  }
  #hero-856 .cs-wave {
      /* we're stretching the svg wider than the viewport so it's taller and has more of a presence */
      width: 320%;
      height: auto;
      display: block;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      z-index: -1;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #hero-856 {
      text-align: left;
  }
  #hero-856 .cs-container {
      flex-direction: row-reverse;
      justify-content: space-between;
  }
  #hero-856 .cs-content {
      width: 40vw;
      /* prevents flex-box from squishing it */
      flex: none;
      align-items: flex-start;
      /* sends it to the right in the 2nd position */
      order: 2;
  }
  #hero-856 .cs-title,
  #hero-856 .cs-text {
      text-align: left;
  }
  #hero-856 .cs-picture {
      /* 623px - 814px */
      height: clamp(38.9375rem, 60vw, 50.875rem);
  }
  #hero-856 .cs-wave {
      width: 100%;
      left: 0;
      /* flips it horizontally */
      transform: scaleX(-1);
  }
}

                              
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-298 {
      padding: var(--sectionPadding);
  }
  #sbsr-298 .cs-container {
      width: 100%;
      /* changes to 1280px at desktop */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column-reverse;
  }
  #sbsr-298 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      max-width: 32.625rem;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #sbsr-298 .cs-text {
      margin-bottom: 1rem;
  }
  #sbsr-298 .cs-text:last-of-type {
      margin-bottom: 2rem;
  }
  #sbsr-298 .cs-link {
      font-size: 1.25rem;
      font-weight: 700;
      text-decoration: none;
      color: var(--primary);
  }
  #sbsr-298 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      text-decoration: none;
      font-weight: 700;
      text-align: center;
      margin: 0;
      color: #fff;
      min-width: 9.375rem;
      padding: 0 1.5rem;
      background-color: var(--primary);
      border-radius: 0.25rem;
      display: inline-block;
      position: relative;
      z-index: 1;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
  }
  #sbsr-298 .cs-button-solid:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 0%;
      background: #EFA593;
      opacity: 1;
      top: 0;
      left: 0;
      z-index: -1;
      border-radius: 0.25rem;
      transition: width 0.3s;
  }
  #sbsr-298 .cs-button-solid:hover:before {
      width: 100%;
  }
  #sbsr-298 .cs-image-group {
      width: 100%;
      max-width: 34.375rem;
      /* 78px - 108px */
      margin: 0 auto clamp(4.875rem, 16.5vw, 6.75rem);
      position: relative;
      display: block;
      /* width divided by height */
      aspect-ratio: 0.90358127;
  }
  #sbsr-298 .cs-picture {
      /* big background image */
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
  }
  #sbsr-298 .cs-picture img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      border-radius: 0.625rem;
      object-fit: cover;
  }
  #sbsr-298 .cs-box {
      /* 204px - 326px & changes at desktop */
      width: clamp(12.75rem, 50vw, 20.375rem);
      height: clamp(12.75rem, 50vw, 20.375rem);
      border-radius: 0.625rem;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: absolute;
      left: 50%;
      /* 38px - 60px - wrapped in a calc function to make clamp values negative */
      bottom: calc(clamp(2.375rem, 7.9vw, 3.75rem) * -1);
      transform: translateX(-50%);
      z-index: 10;
  }
  #sbsr-298 .cs-box-picture {
      /* Background image for cs-box */
      width: 100%;
      height: 100%;
      background-color: #000;
      border-radius: 0.625rem;
      /* clips img corners and bg corners */
      overflow: hidden;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      z-index: -1;
  }
  #sbsr-298 .cs-box-picture img {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.65;
      height: 100%;
      width: 100%;
      object-fit: cover;
  }
  #sbsr-298 .cs-number {
      /* 75px - 100px */
      font-size: clamp(4.6875rem, 8vw, 6.25rem);
      line-height: 1em;
      font-weight: 900;
      margin-bottom: 0.5rem;
      color: var(--headerColor);
      /* creates the transparent clipping text */
      mix-blend-mode: screen;
      display: block;
      z-index: 10;
  }
  #sbsr-298 .cs-number:before {
      /* opaque white box - For mix-blend-mode to work, we need the 
                 white box inside the .cs-number, so we use a pseudo element.
                 We DON'T add a position to the cs-number so the pseudo positions
                 itself relative to the .cs-box, which has position relative. This
                 allows us to center to .cs-number pseudo inside the .cs-box */
      content: "";
      /* 184px - 294px & changes at desktop */
      width: clamp(11.5rem, 45vw, 18.375rem);
      height: clamp(11.5rem, 45vw, 18.375rem);
      opacity: 1;
      background-color: #fff;
      border-radius: 0.4375rem;
      position: absolute;
      display: block;
      /* these next 3 properties are an old school way to center an absolutely
                 positioned element inside a relative position parent */
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
  }
  #sbsr-298 .cs-desc {
      /* 16px - 25px */
      font-size: clamp(1rem, 4vw, 1.5625rem);
      font-weight: 700;
      line-height: 1.2em;
      text-transform: lowercase;
      text-align: center;
      width: 80%;
      color: var(--headerColor);
      position: relative;
      z-index: 10;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbsr-298 {
      /* aligns the button */
      text-align: left;
  }
  #sbsr-298 .cs-container {
      max-width: 80rem;
      /* set to horizontal arrangement */
      flex-direction: row-reverse;
      justify-content: space-between;
      gap: 10rem;
  }
  #sbsr-298 .cs-content {
      text-align: left;
      align-items: flex-start;
  }
  #sbsr-298 .cs-image-group {
      width: 40vw;
      max-width: 32.5625rem;
      /* 520px - 672px */
      height: clamp(32.5rem, 51.9vw, 42rem);
      margin: 0;
      /* sends it to the right in the 2nd position */
      order: 2;
  }
  #sbsr-298 .cs-box {
      /* 251px - 325px */
      width: clamp(15.6875rem, 24.5vw, 20.3125rem);
      height: clamp(15.6875rem, 24.5vw, 20.3125rem);
      left: auto;
      transform: none;
      /* -52px to -102px */
      right: calc(clamp(3.25rem, 5.5vw + 1.6rem, 6.375rem) * -1);
      /* 62px - 80px */
      bottom: clamp(3.875rem, 6.2vw, 5rem);
  }
  #sbsr-298 .cs-number:before {
      /* 226px - 293px */
      width: clamp(14.125rem, 22.7vw, 18.3125rem);
      height: clamp(14.125rem, 22.7vw, 18.3125rem);
  }
}

/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1152 {
      padding: var(--sectionPadding);
  }
  #gallery-1152 .cs-container {
      width: 100%;
      /* changes to 1280px at large desktop */
      max-width: 59rem;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #gallery-1152 .cs-content {
      /* set text align to left if content needs to be left aligned */
      text-align: center;
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
  }

  #gallery-1152 .cs-topper {
      color: #767676;
  }
  #gallery-1152 .cs-title {
      margin: 0;
      color: var(--primary);
  }
  #gallery-1152 .cs-gallery {
      width: 100%;
      /* changes to 100% at tablet */
      max-width: 31.25rem;
      padding: 0;
      margin: 0;
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      /* 16px - 20px */
      gap: clamp(1rem, 1.5vw, 1.25rem);
  }
  #gallery-1152 .cs-image {
      /* 260px - 360px */
      min-height: clamp(16.25rem, 60vw, 20rem);
      border-radius: 1rem;
      /* clips the image corners */
      overflow: hidden;
      display: block;
      grid-column: span 12;
      grid-row: span 1;
      position: relative;
  }
  #gallery-1152 .cs-image img {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      /* makes it act like a background image */
      object-fit: cover;
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #gallery-1152 .cs-gallery {
      max-width: 100%;
      grid-template-rows: 1fr;
  }
  #gallery-1152 .cs-image {
      grid-column: span 4;
  }
  #gallery-1152 .cs-image:nth-of-type(4),
  #gallery-1152 .cs-image:nth-of-type(5) {
      grid-column: span 6;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #gallery-1152 .cs-container {
      max-width: 80rem;
  }
  #gallery-1152 .cs-gallery {
      grid-template-columns: repeat(5, 1fr);
  }
  #gallery-1152 .cs-image {
      grid-column: span 1;
  }
  #gallery-1152 .cs-image:nth-of-type(4),
  #gallery-1152 .cs-image:nth-of-type(5) {
      grid-column: span 1;
  }
}

                              
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #services-1188 {
      padding: var(--sectionPadding);
  }
  #services-1188 .cs-container {
      max-width: 80rem;
      width: 100%;
      margin: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      /* 48px - 64px */
      gap: clamp(3rem, 6vw, 4rem);
  }
  #services-1188 .cs-content {
      width: 100%;
      display: flex;
      flex-direction: column;
      /* centers content horizontally, set to flex-start to left align */
      align-items: center;
      /* set text align to left if content needs to be left aligned */
      text-align: center;
  }

  #services-1188 .cs-card-group {
      /* changes to 1280px at desktop */
      max-width: 56.25rem;
      width: 100%;
      margin: 0;
      padding: 0;
      display: grid;
      justify-content: center;
      gap: 1rem;
  }
  #services-1188 .cs-item {
      list-style: none;
      max-width: 23rem;
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
  }
  #services-1188 .cs-title {
    color: var(--primary);
}
  #services-1188 .cs-picture {
      width: 5rem;
      height: 5rem;
      margin-bottom: 1.25rem;
      box-sizing: border-box;
      /* prevents border from affecting height and width */
      background-color: var(--secondary);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      /* prevents flexbox from squishing it */
      flex: none;
  }
  #services-1188 .cs-icon {
      width: 1.875rem;
      height: auto;
      display: block;
  }
  #services-1188 .cs-h3 {
      font-size: 1.25rem;
      line-height: 1.5em;
      margin: 0;
      margin-bottom: 0.5rem;
      color: var(--headerColor);
      text-align: center;
  }
  #services-1188 .cs-item-text {
      /* 14px - 16px */
      font-size: clamp(0.875rem, 1.5vw, 1rem);
      line-height: 1.5em;
      margin: 0;
      color: var(--bodyTextColor);
      text-align: center;
  }
  #services-1188 .cs-button-solid {
      font-size: 1rem;
      /* 46px - 56px */
      line-height: clamp(2.875rem, 5.5vw, 3.5rem);
      font-weight: 500;
      min-width: 9.375rem;
      margin: 0;
      /* prevents padding from adding to the width */
      box-sizing: border-box;
      padding: 0 1.5rem;
      color: #fff;
      background-color: var(--primary);
      text-decoration: none;
      display: inline-block;
      position: relative;
      z-index: 1;
      text-align: center;
      font-family: "Montserrat", sans-serif;
      border-radius: 0.25rem;
  }
  #services-1188 .cs-button-solid:before {
      content: "";
      width: 0%;
      height: 100%;
      background: #EFA593;
      opacity: 1;
      border-radius: 0.25rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: width 0.3s;
  }
  #services-1188 .cs-button-solid:hover:before {
      width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #services-1188 .cs-card-group {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.25rem;
  }
  #services-1188 .cs-item {
      margin: 0;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #services-1188 .cs-card-group {
      max-width: 80rem;
  }
  #services-1188 .cs-item {
      max-width: none;
      padding: 2rem 1.5rem;
  }
}

/*-- -------------------------- -->
<---          Footer            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #cs-footer-274 {
      padding: var(--sectionPadding);
      /* Navigation Links */
  }
  #cs-footer-274 .cs-container {
      width: 100%;
      /* reset on tablet */
      max-width: 34.375rem;
      margin: auto;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      column-gap: 5.5rem;
      row-gap: 2rem;
  }
  #cs-footer-274 .cs-logo-group {
      /* takes up all the space, lets the other ul's wrap below it */
      width: 100%;
      position: relative;
  }
  #cs-footer-274 .cs-logo-group {
      /* 44px - 52px */
      margin-bottom: clamp(2.75rem, 6.8vw, 3.25rem);
  }
  #cs-footer-274 .cs-logo {
      /* 210px - 240px */
      width: clamp(13.125rem, 8vw, 15rem);
      height: auto;
      display: block;
      text-decoration: none;
  }
  #cs-footer-274 .cs-logo-img {
      width: 100%;
      height: auto;
  }
  #cs-footer-274 .cs-social {
      display: inline-flex;
      flex-direction: column;
      justify-content: flex-start;
      gap: 0.75rem;
      position: absolute;
      top: 0;
      right: 0;
  }
  #cs-footer-274 .cs-social-link {
      width: 1.5rem;
      height: 1.5rem;
      background-color: #4e4b66;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      z-index: 1;
      transition:
          transform 0.3s,
          background-color 0.3s;
  }
  #cs-footer-274 .cs-social-link:hover {
      background-color: var(--primary);
      transform: translateY(-0.1875rem);
  }
  #cs-footer-274 .cs-social-img {
      height: 0.8125rem;
      width: auto;
      display: block;
  }
  #cs-footer-274 .cs-nav {
      padding: 0;
      margin: 0;
  }
  #cs-footer-274 .cs-nav-li {
      list-style: none;
      margin: 0;
      color: var(--bodyTextColor);
  }
  #cs-footer-274 .cs-header {
      font-size: 1rem;
      line-height: 1.5em;
      font-weight: 700;
      /* 16px - 20px */
      margin-bottom: clamp(1rem, 2.7vw, 1.25rem);
      color: var(--bodyTextColor);
      position: relative;
      display: block;
  }
  #cs-footer-274 .cs-nav-link {
      font-size: 1rem;
      text-decoration: none;
      line-height: 1.5em;
      color: var(--bodyTextColor);
      position: relative;
  }
  #cs-footer-274 .cs-nav-link:before {
      /* underline */
      content: "";
      width: 0%;
      height: 0.125rem;
      background: var(--bodyTextColor);
      opacity: 1;
      position: absolute;
      display: block;
      bottom: -0.125rem;
      left: 0;
      transition: width 0.3s;
  }
  #cs-footer-274 .cs-nav-link:hover:before {
      width: 100%;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #cs-footer-274 .cs-container {
      max-width: 80rem;
      row-gap: 0;
      /* 44px - 88px */
      column-gap: clamp(2.75rem, calc(6%), 5.5rem);
  }
  #cs-footer-274 .cs-logo-group {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
  }
  #cs-footer-274 .cs-social {
      flex-direction: row;
      position: relative;
      top: auto;
      right: auto;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #cs-footer-274 .cs-container {
      justify-content: flex-end;
  }
  #cs-footer-274 .cs-logo-group {
      width: auto;
      margin: 0;
      /* pushes the rest of the content to the right in a flexbox */
      margin-right: auto;
      flex-direction: column;
  }
  #cs-footer-274 .cs-logo-img {
      margin-bottom: 2.75rem;
  }
  #cs-footer-274 .cs-nav {
      margin-top: 0.75rem;
  }
}

                              

